<div class="jumbotron" style="background-image: url('http://i.imgur.com/NH1nLsV.png')">
  <h1 style="color:white; font-weight: 900; text-shadow: 2px 2px #a9a9a9;">Biobots Administrator View</h1>
  <p style="color:white; font-weight: 200;">This is where you can track data regarding users and bioprints</p>
</div>
<div class="container">

  <section>
    <h3>User Summary</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="well well-lg">
          Number of Users: {{uniqueUsersLength}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          Top User:
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          Newest User: {{latestUser.email}}
        </div>
      </div>
    </div>
  </section>

<section>
  <h3>Bioprint Summary</h3>
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold">Go to File Number</h6>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">By File Number</button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li ng-repeat="print in prints"><a href="#">{{print.print_info.files.input}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="row" style="text-align:center;">
    <div class="col-md-4">
      <div class="well well-lg">
        Number of Bioprints:
        <h1 style="font-weight: 900">
          {{totalPrints}}
        </h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-lg">
        Average Dead Percent:
        <h1 style="font-weight: 900">
          {{deadPercentAvg}}
        </h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-lg">
        Average Live Percent:
        <h1 style="font-weight: 900">
          {{livePercentAvg}}
        </h1>
      </div>
    </div>
  </div>
</section>

<section>

</section>

  <div class="row">
    <h3>Users</h3>
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Email</th>
      <th>Serial</th>
      <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in uniqueUsers">
      <td>{{user.email}}</td>
      <td>{{user.serial}}</td>
      <td><a ui-sref="detailview" class="btn btn-info">Detail</a></td>
    </tr>
    </tbody>
  </table>

  </div>

<section>
  <div class="row">
    <h3>Bioprints</h3>
  </div>
  <br>
  <div class="row">
    <a ui-sref="newbioprint" class="btn btn-raised btn-primary">Add New Bioprint</a>
  </div>
  <br><br>
  <div class="row">
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>File No.</th>
      <th>Dead Percent</th>
      <th>Live Percent</th>
      <th>Elasticity</th>
      <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="print in prints">
      <td>{{print.print_info.files.input}}</td>
      <td>{{print.print_data.deadPercent}}</td>
      <td>{{print.print_data.livePercent}}</td>
      <td>{{print.print_data.elasticity}}</td>

      <td><a ui-sref="detailview" class="btn btn-info">Detail</a></td>
    </tr>
    </tbody>
  </table>
    <button ng-repeat="page in pages" ng-click="getPaginatedPrints(page)">{{page + 1}}</button>
    </div>
</section>


</div>
