<div class="jumbotron" style="background-image: url('http://i.imgur.com/NH1nLsV.png')">
  <h1 style="color:white; font-weight: 900; text-shadow: 2px 2px #a9a9a9;">Table View</h1>
  <p style="color:white; font-weight: 200;">This is where you can see all prints</p>
  <div class="row">
    <a ui-sref="usertableview" class="btn btn-raised btn-primary">Go To User Table</a>
    <a ui-sref="admindash" class="btn btn-raised btn-primary">Go To Admin</a>
  </div>
</div>
<div class="container">
<section>
  <div class="row">
    <h3>Bioprints</h3>
  </div>
  <br>
  <div class="row">
    <a ui-sref="newbioprint" class="btn btn-raised btn-primary">Add New Bioprint</a>
  </div>
  <br><br>
  <div class="row">
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>File No.</th>
      <th>Dead Percent</th>
      <th>Live Percent</th>
      <th>Elasticity</th>
      <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="print in prints">
      <td>{{print.print_info.files.input}}</td>
      <td>{{print.print_data.deadPercent}}</td>
      <td>{{print.print_data.livePercent}}</td>
      <td>{{print.print_data.elasticity}}</td>
      <td><a ng-click="goToDetail($event, print.print_info.files.input)"  class="btn btn-info">Detail</a></td>
    </tr>
    </tbody>
  </table>
    <button ng-repeat="page in pages" ng-click="getPaginatedPrints(page)">{{page + 1}}</button>
    </div>
</section>
</div>
